<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @account.name %>
</p>

<p>
  <b>User:</b>
  <%= @account.user %>
</p>

<p>
  <b>Private mail:</b>
  <%= @account.private_mail %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
